<html>
  <head>
    <title>
      FMI Programming
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="favicon.ico" rel="icon">
      <link rel="stylesheet" href="static/index.css">
    </head>

    <body>
      <h1>
        FMI Programming
      </h1>

      <h3>
        Here you can test your FMI programming homework.
      </h3>

      <p>
        Which task do you want to test
      </p>
      <form action="/test_program" method="post">
        Code: <br><br> <textarea name="code" cols="50" rows="30"></textarea>
        <br>
        <br>
        <input type="submit" value="Submit">
      </form>
    </body>
</html>
